* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Macondo, 'Times New Roman', Times, serif;
}

.flex {
  display: flex;
}

body {
  justify-content: center;
  height: 100vh;
  align-items: center;
}

main {
  border: 5px solid black;
  padding: 2rem;
}

#scores-section-title p {
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

section {
  padding: 2rem;
}

section article {
  margin: 2rem 2rem 2rem 0;
}

.input-group {
  margin: 2rem 0;
  padding: 0.3rem;
}

button {
  border-radius: 0;
  box-shadow: 3px 3px 2px black;
  border: 3px solid black;
  padding: 0.2rem;
  background-color: white;
}

button:hover {
  background-color: #e9f3f7;
}

.btn-container {
  justify-content: end;
}

.display-section {
  margin: 1rem 0;
  border: 2px solid black;
  overflow-y: scroll;
  height: 120px;
}

.details-container {
  padding: 0.2rem;
}

span {
  margin-left: 10px;
  height: 10px;
}
